---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import CardImg from "../components/CardImg.astro";
import ScreenshotLink from "../components/ScreenshotLink.astro";

import cardWide from "../assets/images/Carte-webheader-wide.webp";
import cardNarrow from "../assets/images/Carte-webheader-narrow.webp";
import mrHome from "../assets/images/mr-home.webp";
import jpHome from "../assets/images/jp-home.webp";
import a5eHome from "../assets/images/a5e-home.webp";

import "../styles/tippy.css";
---

<Layout title="ocardinaux.com">
  <main>
    <CardImg
      mobileImgUrl={cardNarrow}
      desktopImgUrl={cardWide}
      alt="ocardinaux.com"
    />

    <Article title="Je construis des sites internet.">
      Par exemple <ScreenshotLink imageData={mrHome} link="https://michelerouhet.fr" />,
      <ScreenshotLink imageData={jpHome} link="https://janickponcin.com" /> et
      <ScreenshotLink imageData={a5eHome} link="https://artistesdu5.fr" />.
    </Article>

    <Article title="Contactez-moi">
      par mail à l'adresse <span id="email"></span> ou par téléphone au <span
        class='tel"'>06 89 63 80 14.</span
      >
    </Article>
  </main>
  <footer class="footer">v3.0.2</footer>
</Layout>

<style is:global>
  main > * + * {
    margin-top: var(--s2);
  }

  .tel {
    white-space: nowrap;
  }

  .footer {
    margin-inline: 1rem;
    padding: 1rem;
    margin-block-start: auto;
  }

  .tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
</style>

<script>
  import tippy from "tippy.js";

  const imageLinks = document.querySelectorAll("[data-img]");

  tippy(imageLinks, {
    content(ref) {
      const id = (ref as HTMLAnchorElement).dataset.img || "";
      const template = document.getElementById(id);
      return template?.innerHTML || "";
    },
    allowHTML: true,
    maxWidth: "none",
    duration: [1000, 400],
    interactive: true,
    inertia: true,
  });

  // Obfuscate email
  const email = document.querySelector("#email");
  const user = "olivier";
  const domain = "ocardinaux.com";
  if (email)
    email.innerHTML = `<a href='mailto:${user}@${domain}'>${user}@${domain}</a>`;
</script>
