---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import ScreenshotSlider from "../components/ScreenshotSlider.astro";
import Footer from "../components/Footer.astro";
import RawSvg from "../components/RawSvg.astro";
import "../styles/tippy.css";
---

<Layout title="ocardinaux.com">
  <main>
    <Hero />

    <Section id="construction" />

    <ScreenshotSlider />

    <Section id="contact" />
  </main>

  <div class="separator">
    <RawSvg className="svg-separator" svgFile="paper-tear" />
  </div>

  <Footer />
</Layout>

<script>
  // Obfuscate email
  const email = document.querySelector("#email");
  const user = "olivier";
  const domain = "ocardinaux.com";
  if (email) email.innerHTML = `<a href='mailto:${user}@${domain}?subject=Mon site'>${user}@${domain}</a>`;

  // Obfuscate tel number (useful?)
  const tel = document.querySelector("#tel");
  const telNumber = "+33689638014";
  const telText = "06 89 63 80 14";
  if (tel) tel.innerHTML = `<a href='tel:${telNumber}'>${telText}</a>`;
</script>
