---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import Hero from "../components/Hero.astro";
import Screenshot from "../components/Screenshot.astro";
import ScreenshotSlider from "../components/ScreenshotSlider.astro";
import Footer from "../components/Footer.astro";
import RawSvg from "../components/RawSvg.astro";
import mrHome from "../assets/images/mrHome.webp";
import jpHome from "../assets/images/jpHome.webp";
import a5eHome from "../assets/images/a5eHome.webp";
import votreSite from "../assets/images/votreSite.webp";
import "../styles/tippy.css";
---

<Layout title="ocardinaux.com">
  <main>
    <Hero />
    <section id="intro">
      <Article title="Je construis des sites internet sur mesure." class="cut-out">
        <p slot="subtitle">Sites vitrine, blogs personnels, etc.</p>
        <ol>
          <li>
            <strong>Personnalisés</strong> — dans l'esthétique, la structure et les fonctionnalités
          </li>
          <li><strong>Simples</strong> — dans la gestion et la maintenance</li>
          <li>
            <strong>Solides et évolutifs</strong> — avec une base de code fiable et un support de qualité
          </li>
        </ol>
      </Article>

      <ScreenshotSlider>
        <Screenshot
          src={mrHome}
          link="https://michelerouhet.fr"
          alt="michelerouhet.fr"
          class="cut-out"
        >
          Michèle Rouhet partage avec nous ses photographies de nature, ses activités de conteuse et
          de formatrice, ainsi que son engagement en faveur des arbres et de la flore.
        </Screenshot>
        <Screenshot
          src={jpHome}
          link="https://janickponcin.com"
          alt="janickponcin.com"
          class="cut-out"
        >
          Janick Poncin est pastelliste, et elle présente sur son site des galeries de ses œuvres et
          toutes les informations sur ses expositions.
        </Screenshot>
        <Screenshot
          src={a5eHome}
          link="https://artistesdu5.fr"
          alt="artistesdu5.fr"
          class="cut-out"
        >
          L'association des Artistes du V<sup>e</sup> vous propose de découvrir les œuvres de ses artistes
          et ses dernères expositions.
        </Screenshot>
        <Screenshot src={votreSite} alt="… votre site ?" class="cut-out">
          Rencontrons-nous pour discuter de vos projets !
        </Screenshot>
      </ScreenshotSlider>

      <div class="text">
        <p class="strong">
          Mes sites sont plutôt pas mal, allez les voir ! Je les ai fait avec beaucoup d'attention.
        </p>
        <ul>
          <li>
            Je crée mes sites « à la main », sans dépendre de thèmes pré-construits. Mes sites sont
            personnalisés et adaptés à vos besoins et à votre style (ainsi qu'aux écrans et aux
            navigateurs utilisés par vos visiteurs). Cela inclut les dimensions de l'<strong
              >esthétique</strong
            > (typographie, couleurs), de l'<strong>architecture</strong> (contenu, navigation) et des
            <strong>fonctionnalités</strong>.
          </li>
          <li>
            Pour la partie gestion du site, j'utilise <strong
              ><a href="https://getkirby.com" target="_blank">KIRBY</a></strong
            >, un CMS (Content Management System) qui contrairement à d'autres systèmes plus
            complexes est conçu pour être intuitif. Vous n'avez pas besoin de compétences techniques
            pour effectuer des modifications basiques sur votre site.
          </li>
          <li>
            Cette façon de procéder permet d'obtenir un site solide, parce qu'il ne dépend pas
            d'ajouts extérieurs, et d'un support de haute qualité, parce qu'il est maintenu par moi
            seul. Solide ne veux pas dire figé : on peut ajouter des fonctionnalités au fur et à
            mesure que les besoins sont définis.
          </li>
        </ul>
        <p>Tout ça pour dire que c'est super !</p>
      </div>
    </section>

    <section id="contact">
      <Article title="Contactez-moi" class="cut-out">
        par mail à l'adresse <span class="strong" id="email"></span> ou par téléphone au <span
          class="tel strong">06 89 63 80 14.</span
        >
      </Article>
      <div class="text">
        <p class="strong">Je serais ravi de discuter avec vous.</p>
        <p>
          Pour initier un projet, une vision précise du site n'est pas nécessaire : nous pouvons la
          définir ensemble lors d'une première rencontre.
        </p>
        <ol>
          <li>
            Vous pourrez définir les objectifs du site, son public, et le type de contenus qu'il
            contiendra. En y ajoutant vos attentes en matière de style et d'apparence visuelle, nous
            pouvons arriver à une base commune et une définition plus précise du projet.
          </li>
          <li>
            Je prépare alors une première ébauche de la structure des pages et du site : les menus,
            les emplacements pour les textes et les images, les sections importantes, et plus
            encore. Je commence aussi à créer la partie gestion du site.
          </li>
          <li>
            À partir de là, vous pourrez créer, collecter et me transmettre les éléments de contenu.
            En parallèle, je commencerai à donner vie au site en y appliquant des styles et des
            éléments visuels.
          </li>
          <li>
            Nous pouvons alors voir ensemble cette première version du site, corriger et affiner ce
            qui doit l'être.
          </li>
        </ol>
        <p>Et c'est in ze pocket !</p>
      </div>
    </section>
  </main>
  <div class="separator">
    <RawSvg className="svg-separator" svgFile="paper-tear" />
  </div>
  <Footer />
</Layout>

<style is:global>
  /* https://css-tricks.com/the-slideout-footer/ */
  main {
    position: relative;
    min-height: 100vh;
    background-color: var(--color-bone);
    z-index: 1;
  }

  main > * + * {
    margin-top: var(--s2);
  }

  main > *:not(section) {
    max-width: min(900px, calc(100% - 2 * var(--s2)));
    margin-inline: auto;
  }

  section {
    position: relative;
    min-height: 100vh;
    font-size: var(--s2);
    padding-block: var(--s3);

    /* stylelint-disable-next-line no-descending-specificity */
    & > * {
      max-width: min(900px, calc(100% - 2 * var(--s2)));
      margin-inline: auto;
      margin-block-start: var(--s4);
    }

    &::before {
      position: absolute;
      top: calc(var(--s3) * -1);
      left: calc(var(--s2) * -1);
      right: calc(var(--s2) * -1);
      content: "";
      background: repeating-linear-gradient(
        -45deg,
        #0000,
        #0000 6px,
        var(--color-very-dark-bone) 0,
        var(--color-very-dark-bone) 8px
      );
      height: 1rem;
    }
  }

  .text {
    color: var(--color-very-dark-bone);
    font-size: var(--s0);
    hyphens: auto;
    columns: 22ch 3;
    max-width: min(1200px, calc(100% - 2 * var(--s2)));
  }

  .separator {
    position: relative;
    background-color: transparent;
    z-index: 10;
  }

  .svg-separator {
    width: 100%;
    height: auto;
    color: var(--color-bone);
    background-color: transparent;

    & .drop-shadow {
      filter: drop-shadow(rgba(21 20 15 / 20%) 0.06em 0.06em 0.06em);
    }
  }

  .tel {
    white-space: nowrap;
  }
</style>

<script>
  // Obfuscate email
  const email = document.querySelector("#email");
  const user = "olivier";
  const domain = "ocardinaux.com";
  if (email) email.innerHTML = `<a href='mailto:${user}@${domain}'>${user}@${domain}</a>`;
</script>
