---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import CardImg from "../components/CardImg.astro";
import ScreenshotImg from "../components/screenshotImg.astro";

import cardWide from "../assets/images/Carte-webheader-wide.webp";
import cardNarrow from "../assets/images/Carte-webheader-narrow.webp";
import mrHome from "../assets/images/mr-home.webp";
import jpHome from "../assets/images/jp-home.webp";
import a5eHome from "../assets/images/a5e-home.webp";

import "../styles/tippy.css";
---

<Layout title="ocardinaux.com">
  <main>
    <CardImg
      mobileImgUrl={cardNarrow}
      desktopImgUrl={cardWide}
      alt="ocardinaux.com"
    />
    <Article title="Je construis des sites internet.">
      Par exemple <a
        href="https://michelerouhet.fr"
        data-img="mr-home"
        target="_blank">michelerouhet.fr</a
      >, <a href="https://janickponcin.com" data-img="jp-home" target="_blank"
        >janickponcin.com</a
      > et <a href="https://artistesdu5.fr" data-img="a5e-home" target="_blank"
        >artistesdu5.fr</a
      >.
    </Article>

    <div style="display: none;">
      <ScreenshotImg imageData={mrHome} link="https://michelerouhet.fr" />
      <ScreenshotImg imageData={jpHome} link="https://janickponcin.com" />
      <ScreenshotImg imageData={a5eHome} link="https://artistesdu5.fr" />
    </div>

    <Article title="Vous pouvez me contacter">
        par mail à l'adresse <a href="mailto:olivier@ocardinaux.com"
          >olivier@ocardinaux.com</a
        > ou par téléphone au <span class='tel"'>06 89 63 80 14.</span>
    </Article>

    <footer class="footer">v3.0.2</fo>
  </main>
</Layout>

<style is:global>
  main > * + * {
    margin-top: var(--s2);
  }

  .tel {
    white-space: nowrap;
  }

  .footer {
    margin: 0 1rem;
    padding: 1rem;
  }

  .tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
</style>

<script>
  import tippy from "tippy.js";

  const imageLinks = document.querySelectorAll("[data-img]");

  tippy(imageLinks, {
    content(ref) {
      const id = (ref as HTMLAnchorElement).dataset.img || "";
      const template = document.getElementById(id);
      return template?.innerHTML || "";
    },
    allowHTML: true,
    maxWidth: "none",
    duration: [1000, 400],
    interactive: true,
    inertia: true,
  });
</script>
