---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import Hero from "../components/Hero.astro";
import Screenshot from "../components/Screenshot.astro";
import ScreenshotLink from "../components/ScreenshotLink.astro";
import ScreenshotSlider from "../components/ScreenshotSlider.astro";
import Footer from "../components/Footer.astro";
import RawSvg from "../components/RawSvg.astro";
import mrHome from "../assets/images/mrHome.webp";
import jpHome from "../assets/images/jpHome.webp";
import a5eHome from "../assets/images/a5eHome.webp";
import votreSite from "../assets/images/votreSite.webp";
import "../styles/tippy.css";
---

<Layout title="ocardinaux.com">
  <main>
    <Hero />
    <section>
      <Article title="Je construis des sites internet." class="cut-out">
        <p>
          Par exemple <ScreenshotLink img="mrHome" link="https://michelerouhet.fr" />
          <ScreenshotLink img="jpHome" link="https://janickponcin.com" /> et
          <ScreenshotLink img="a5eHome" link="https://artistesdu5.fr" />.
        </p>
      </Article>

      <ScreenshotSlider>
          <Screenshot
            src={mrHome} link="https://michelerouhet.fr" alt="michelerouhet.fr" class="cut-out"
          >
          Michèle Rouhet partage avec nous ses photographies de nature, ses activités de conteuse et de formatrice, ainsi que son engagement en faveur des arbres et de la flore.
          </Screenshot>
          <Screenshot
            src={jpHome} link="https://janickponcin.com" alt="janickponcin.com" class="cut-out"
          >
          Janick Poncin est pastelliste, et elle présente sur son site des galeries de ses œuvres et toutes les informations sur ses expositions.
          </Screenshot>
          <Screenshot
            src={a5eHome} link="https://artistesdu5.fr" alt="artistesdu5.fr" class="cut-out"
          >
          L'association des Artistes du V<sup>e</sup> vous propose de découvrir les œuvres de ses artistes et ses dernères expositions.
          </Screenshot>
          <Screenshot
            src={votreSite} alt="… votre site ?" class="cut-out"
          >
          Rencontrons-nous pour discuter de vos projets !
          </Screenshot>
        </ScreenshotSlider>

        <div class="text">
        <p><strong>Mes sites sont assez jolis, allez les regarder. Je les fait avec beaucoup d'attention.</strong></p>
        <ul>
          <li>Considérant que la reconnaissance de la dignité inhérente à tous les membres de la famille humaine et de leurs droits égaux et inaliénables constitue le fondement de la liberté, de la justice et de la paix dans le monde,</li>
          <li>Considérant que la méconnaissance et le mépris des droits de l’homme ont conduit à des actes de barbarie qui révoltent la conscience de l’humanité et que l’avènement d’un monde où les êtres humains seront libres de parler et de croire, libérés de la terreur et de la misère, a été proclamé comme la plus haute aspiration de l’homme,</li>
          <li>Considérant qu’il est essentiel que les droits de l’homme soient protégés par un régime de droit pour que l’homme ne soit pas contraint, en suprême recours, à la révolte contre la tyrannie et l’oppression,</li>
        </ul>
      </div>
    </section>

    <section>
      <Article title="Contactez-moi" class="cut-out">
        par mail à l'adresse <span id="email"></span> ou par téléphone au <span
          class='tel"'>06 89 63 80 14.</span
        >
      </Article>
    </section>
    </main>
    <div class="separator">
      <RawSvg
      className="svg-separator"
      svgFile="paper-tear"
      />
    </div>
  <Footer />
</Layout>

<style is:global>
  /* https://css-tricks.com/the-slideout-footer/ */
  main {
    position: relative;
    min-height: 100vh;
    background-color: var(--color-bone);
    z-index: 1;
  }

  main > *:not(section) {
    max-width: min(900px, calc(100% - 2 * var(--s2)));
    margin-inline: auto;
  }

  main > * + * {
    margin-top: var(--s2);
  }

  section {
    position: relative;
    min-height: 100vh;
    font-size: var(--s2);
    padding-block: var(--s3);

    & > * {
    max-width: min(900px, calc(100% - 2 * var(--s2)));
    margin-inline: auto;
    margin-block-start: var(--s4);
  }

    &::before {
      position: absolute;
      top: calc(var(--s3) * -1);
      left: calc(var(--s2) * -1);
      right: calc(var(--s2) * -1);
      content: "";
      background: repeating-linear-gradient(-45deg,#00000000,#00000000 6px,var(--color-very-dark-bone) 0, var(--color-very-dark-bone) 8px);
      height: 1rem;
    }
  }

  .text {
    color: var(--color-very-dark-bone);
    font-size: var(--s0);
    hyphens: auto;
    columns: 22ch 3;
    max-width: min(1200px, calc(100% - 2 * var(--s2)));
  }

  .separator {
    position: relative;
    background-color: transparent;
    z-index: 10;
  }

  .svg-separator {
    width: 100%;
    height: auto;
    color: var(--color-bone);
    background-color: transparent;

    & .drop-shadow {
      -webkit-filter: drop-shadow(rgba(21, 20, 15, .2) .06em .06em .06em);
      filter: drop-shadow(rgba(21, 20, 15, .2) .06em .06em .06em);
    }
  }

  .tel {
    white-space: nowrap;
  }

</style>

<script>
  // Obfuscate email
  const email = document.querySelector("#email");
  const user = "olivier";
  const domain = "ocardinaux.com";
  if (email)
    email.innerHTML = `<a href='mailto:${user}@${domain}'>${user}@${domain}</a>`;
</script>
