---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";
import Hero from "../components/Hero.astro";
import ScreenshotLink from "../components/ScreenshotLink.astro";
import Footer from "../components/Footer.astro";
import RawSvg from "../components/RawSvg.astro";
import mrHome from "../assets/images/mr-home.webp";
import jpHome from "../assets/images/jp-home.webp";
import a5eHome from "../assets/images/a5e-home.webp";
import "../styles/tippy.css";
---

<Layout title="ocardinaux.com">
  <main>
    <Hero />
    <Article title="Je construis des sites internet.">
      Par exemple <ScreenshotLink imageData={mrHome} link="https://michelerouhet.fr" />,
      <ScreenshotLink imageData={jpHome} link="https://janickponcin.com" /> et
      <ScreenshotLink imageData={a5eHome} link="https://artistesdu5.fr" />.
    </Article>

    <Article title="Contactez-moi">
      par mail à l'adresse <span id="email"></span> ou par téléphone au <span
        class='tel"'>06 89 63 80 14.</span
      >
    </Article>
    <RawSvg
    className="svg-separator"
    svgFile="paper-tear"
    />
    </main>
  <Footer />
</Layout>

<style is:global>
  main {
    position: relative;
    min-height: 100vh;
    background-color: var(--color-bone);
    z-index: 1;
  }

  main > * + * {
    margin-top: var(--s2);
  }

  .svg-separator {
    width: 100%;
    height: auto;
    color: var(--color-bone);
    background-color: var(--color-light-bone);

    & .drop-shadow {
      -webkit-filter: drop-shadow(rgba(21, 20, 15, .2) .06em .06em .06em);
      filter: drop-shadow(rgba(21, 20, 15, .2) .06em .06em .06em);
    }
  }

  .tel {
    white-space: nowrap;
  }

  .tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
</style>

<script>
  import tippy from "tippy.js";

  const imageLinks = document.querySelectorAll("[data-img]");

  tippy(imageLinks, {
    content(ref) {
      const id = (ref as HTMLAnchorElement).dataset.img || "";
      const template = document.getElementById(id);
      return template?.innerHTML || "";
    },
    allowHTML: true,
    maxWidth: "none",
    duration: [1000, 400],
    interactive: true,
    inertia: true,
  });

  // Obfuscate email
  const email = document.querySelector("#email");
  const user = "olivier";
  const domain = "ocardinaux.com";
  if (email)
    email.innerHTML = `<a href='mailto:${user}@${domain}'>${user}@${domain}</a>`;
</script>
